{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="video-container iq-main-slider">
        <video class="video d-block" controls controlsList="nodownload">
            <source src="{{ asset('uploads/movies/'~movie.movie) }}" type="video/mp4">
            {% if movie.subtitles %}
                <track label="Lietuviu"
                       kind="subtitles"
                       srclang="lt"
                       src="{{ asset('uploads/movies/'~movie.subtitles) }}"
                       default
                />
            {% endif %}
        </video>
    </div>

    <div class="main-content">
        <section class="movie-detail container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="trending-info season-info g-border">
                        <h4 class="trending-text big-title text-uppercase mt-0">{{ movie.title }}</h4>
                        <div class="d-flex align-items-center text-white text-detail episode-name mb-0">
                            {% if movie.category %}
                                <span class="" style="font-size: 15px">Žanras: {{ movie.category.title }}</span>
                            {% endif %}
                        </div>
                        <p class="trending-dec w-100 mb-0">{{ movie.description }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Rašyti Komentarą</h4>
                    </div>
                </div>

                    <div class="iq-card-body">
                        <form method="POST" id="form-comment" action="http://localhost:8005/api/comment/new">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <textarea id="comment-text" name="text" rows="1" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="movie" value="{{ movie.id }}">
                            <button type="submit" id="comment-submit" class="btn btn-primary mb-3 col-sm-12 col-lg-3 col-md-3">Komentuoti</button>
                        </form>
                    </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom: 50px;">

    <div class="col-12" style="display:flex; justify-content: center;align-items: center;">
       <h3 class=" mb-3" id="comment-count"></h3>
    </div>
        <div class="col-12" id="movie-comment-container">
        </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app/show.js') }}"></script>
{% endblock %}
