<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="verify-paysera" content="f2ad09f4becd5f379c32c3e91f6a555d">
    <title>{% block title %}Kinas{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <!-- Typography CSS -->
        <link rel="stylesheet" href="{{ asset('css/typography.cs') }}s">
        <!-- Style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <!-- Responsive -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" />

</head>
<body>
<div id="wrapmain">
{#<div id="loading">#}
{#    <div id="loading-center">#}
{#    </div>#}
{#</div>#}
{% include('app/includes/nav.html.twig') %}

{% block body %}{% endblock %}

</div>
<!-- jQuery, Popper JS -->
<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Slick JS -->
<script src="{{ asset('js/slick.min.js') }}"></script>
<!-- owl carousel Js -->
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<!-- select2 Js -->
<script src="{{ asset('js/select2.min.js') }}"></script>
<!-- Magnific Popup-->
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<!-- Slick Animation-->
<script src="{{ asset('js/slick-animation.min.js') }}"></script>
<!-- Custom JS-->
<script src="{{ asset('js/custom.js') }}"></script>

{% block javascripts %}{% endblock %}
{% block customjs %}{% endblock %}
</body>
</html>
