<header id="main-header">
    <div class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light p-0" style="height:100px;">
                        <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse"
                           data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                           aria-expanded="false" aria-label="Toggle navigation">
                            <div class="navbar-toggler-icon" data-toggle="collapse">
                                <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                                <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                                <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                            </div>
                        </a>

                        <a class="navbar-brand" href="{{ path('home_index') }}">
                            <img class="img-fluid logo" src="{{ asset('images/logo.png') }}" alt="logo" style="height: 65px; width: auto; margin-top:5px"/>
                        </a>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            {% if app.user is not null and app.user.isAdmin() %}
                                    <div class="menu-main-menu-container">
                                        <ul id="top-menu" class="navbar-nav ml-auto">
                                            <li class="menu-item">
                                                <a href="{{ path('admin_dashboard') }}">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                            {% endif %}

                            <div class="menu-main-menu-container">
                                <ul id="top-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="{{ path('app_duk_index') }}">DUK</a>
                                    </li>
                                </ul>
                            </div>

                            {% if app.user is null %}
                                    <div class="menu-main-menu-container">
                                        <ul id="top-menu" class="navbar-nav ml-auto">
                                            <li class="menu-item">
                                                <a href="{{ path('register_index') }}">Registracija</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="menu-main-menu-container">
                                        <ul id="top-menu" class="navbar-nav ml-auto">
                                            <li class="menu-item">
                                                <a href="{{ path('app_login') }}">Prisijungti</a>
                                            </li>
                                        </ul>
                                    </div>

                            {% else %}
                                <div class="menu-main-menu-container">
                                    <ul id="top-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item">
                                            <a href="{{ path('app_movie_index') }}">Filmai</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="menu-main-menu-container">
                                    <ul id="top-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item">
                                            <a href="{{ path('app_ticket_index') }}">Bilietai</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}

                            <div class="menu-main-menu-container">
                                <ul id="top-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="{{ path('app_contact') }}">Kontaktai</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mobile-more-menu">

                            {#dropdown trigger#}
                            <a href="javascript:void(0);" class="more-toggle" id="dropdownMenuButton"
                               data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('images/user-white.png') }}" class="img-fluid avatar-40 rounded-circle" alt="user">
                            </a>
                            <div class="more-menu" aria-labelledby="dropdownMenuButton">
                                <div class="navbar-right position-relative">
                                    <ul class="d-flex align-items-center justify-content-end list-inline m-0">

                                            <!-- USER MENU DROPDOWN -->

                                        {% if app.user %}
                                        <li>
                                            <div class="iq-card shadow-none m-0">
                                                <div class="iq-card-body p-0 pl-3 pr-3">
                                                    <a href="{{ path('app_user_edit') }}" class="iq-sub-card setting-dropdown">
                                                        <div class="media align-items-center">
                                                            <div class="right-icon">
                                                                <i class="ri-file-user-line text-primary"></i>
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <h6 class="mb-0 ">Keisti slaptažodį</h6>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <a href="{{ path('app_logout') }}" class="iq-sub-card setting-dropdown">
                                                        <div class="media align-items-center">
                                                            <div class="right-icon">
                                                                <i class="ri-logout-circle-line text-primary"></i>
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <h6 class="mb-0">Atsijungti</h6>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>
                                            </div>
                                        </li>
                                        {% else %}
                                            <li>
                                                <div class="iq-card shadow-none m-0">
                                                    <div class="iq-card-body p-0 pl-3 pr-3">
                                                        <a href="{{ path('register_index') }}" class="iq-sub-card setting-dropdown">
                                                            <div class="media align-items-center">
                                                                <div class="right-icon">
                                                                    <i class="ri-file-user-line text-primary"></i>
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0 ">Registracija</h6>
                                                                </div>
                                                            </div>
                                                        </a>

                                                        <a href="{{ path('app_login') }}" class="iq-sub-card setting-dropdown">
                                                            <div class="media align-items-center">
                                                                <div class="right-icon">
                                                                    <i class="ri-logout-circle-line text-primary"></i>
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0">Prisijungti</h6>
                                                                </div>
                                                            </div>
                                                        </a>

                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>


                        {% if app.user %}
                            <div class="navbar-right menu-right">
                                <ul class="d-flex align-items-center list-inline m-0">
                                    <li class="nav-item nav-icon">
                                        <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center"
                                           data-toggle="search-toggle">
                                            <img src="{{ asset('images/user-white.png') }}" class="img-fluid avatar-40 rounded-circle" alt="user">
                                        </a>
                                        <div class="iq-sub-dropdown iq-user-dropdown">
                                            <div class="iq-card shadow-none m-0">
                                                <div class="iq-card-body p-0 pl-3 pr-3">
                                                    <a  href="{{ path('app_user_edit') }}" class="iq-sub-card setting-dropdown">
                                                        <div class="media align-items-center">
                                                            <div class="right-icon">
                                                                <i class="ri-file-user-line text-primary"></i>
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <h6 class="mb-0 ">Keisti slaptažodį</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="{{ path('app_logout') }}" class="iq-sub-card setting-dropdown">
                                                        <div class="media align-items-center">
                                                            <div class="right-icon">
                                                                <i class="ri-logout-circle-line text-primary"></i>
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <h6 class="mb-0 ">Atsijungti</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                    </nav>
                    <div class="nav-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</header>
