{% extends 'app/base.html.twig' %}

{% block body %}
<div class="movie-content-custom">
    {% include('app/includes/apply-ticket-modal.html.twig') %}
    <div class="app-movie-title trending-text  text-uppercase">
        <h1>Filmai</h1>
    </div>

    <div class="container-fluid">
        <div id="trending-data24">
            <div class="trending-info align-items-center w-100 animated fadeInUp">
                <p class="trending-text text-uppercase movie-category-title">Naujausi Filmai</p>
                <div class="episodes-contens mt-4">
                    <div class="owl-carousel owl-theme episodes-slider1 list-inline p-0 mb-0 movie-card-slider">
                        {% for movie in newestMovies %}
                            <div class="e-item movie-card">
                                <div class="block-image position-relative movie-card-image-container">
                                    <img src="{{ asset('uploads/movies/images/'~movie.image) }}" class=" movie-image">
                                </div>
                                <div class="episodes-description text-body mt-2">

                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="movie-actions">

                                            <div class="hover-buttons">
                                                <div class="movie-actions-buy">
                                                    {% if app.user and app.user.isClubOrAdmin() and movie.isFree() %}
                                                        {% if movie.showToday() %}
                                                            <a href="{{ path("app_show_index", {"movie": movie.id}) }}">
                                                                <span class="btn btn-hover">
                                                                    <i class="fa fa-play mr-1" aria-hidden="true"></i>Žiūrėti Dabar
                                                                </span>
                                                            </a>
                                                            <span>Nemokamas</span>
                                                        {% else %}
                                                            <div>
                                                                <button type="button" id="watch-later" class=" btn btn-outline-primary child-cell flex-center">
                                                                    <span>Rodys {{ movie.date|date('Y-m-d') }}</span>
                                                                </button>
                                                            </div>
                                                            <span>Nemokamas</span>
                                                        {% endif %}
                                                    {% elseif movie.showToday() and app.user and app.user.canWatch(movie) %}
                                                        {% if app.user.hasUsedTicket(movie) == true %}
                                                            <a href="{{ path("app_show_index", {"movie": movie.id}) }}">
                                                                <span class="btn btn-hover">
                                                                    <i class="fa fa-play mr-1" aria-hidden="true"></i>Žiūrėti Dabar
                                                                </span>
                                                            </a>
                                                        {% else %}
                                                            <form method="POST" id="open-ticket-modal-form">
                                                                <input type="hidden" value="{{ movie.id }}" class="ticket-movie-data">
                                                                <span class="btn btn-hover open-ticket-apply-modal" id="open-ticket-apply-modal"
                                                                      data-toggle="modal" data-target="#exampleModalCenter">
                                                                            <i class="fa fa-play mr-1" aria-hidden="true"></i>Žiūrėti Dabar
                                                                </span>
                                                            </form>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if app.user is not null and app.user.canWatch(movie) %}
                                                            <div>
                                                                <button type="button" id="watch-later" class=" btn btn-outline-primary child-cell flex-center">
                                                                    Rodys {{ movie.date|date('Y-m-d') }}
                                                                </button>
                                                            </div>
                                                            <span>Turite Bilietą</span>
                                                        {% else %}
                                                            <form method="POST" class="ticket-form pay-for-ticket">
                                                                <input type="hidden" name="movie-id" value="{{ movie.id }}" class="ticket-movie-data">
                                                                <button type="submit" id="ticket-submit" class=" btn btn-outline-primary child-cell flex-center">
                                                                    Pirkti Bilietą
                                                                </button>
                                                            </form>
                                                            <span>Kaina: {{ movie.getActiveFormattedPriceByUser(app.user) }} &euro;</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="movie-preview">
                                                {% if movie.previewUrl %}
                                                    {% include('app/movie/movie-preview.html.twig') %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4>{{ movie.title }}</h4>
                                        <span class="text-primary">{{ movie.duration }}</span>
                                    </div>
                                    <div class="movie-time d-flex align-items-center my-2 movie-date">
                                        {% if movie.showToday() and app.user and app.user.canWatch(movie) %}
                                            <span  style="margin-right:5px">Filmą rodo: </span>
                                            <div class="badge badge-secondary p-1 mr-2"><span>šiandien</span></div>
                                        {% else %}
                                            <span  style="margin-right:5px">Filmą rodys: </span>
                                            <div class="badge badge-secondary p-1 mr-2"><span>{{ movie.date|date('Y-m-d') }}</span></div>
                                        {% endif %}
                                    </div>
                                    <div class="movie-time d-flex align-items-center my-2 movie-date">
                                        <span style="margin-right:5px">Metai: {{ movie.year }}</span>
                                    </div>
                                    <div class="movie-time d-flex align-items-center my-2 movie-date">
                                        <span style="margin-right:5px">Šalis: {{ movie.country }}</span>
                                    </div>
                                    <div class="movie-time d-flex align-items-center my-2 movie-date">
                                        <span style="margin-right:5px">Režisierius: {{ movie.director }}</span>
                                    </div>
                                    <p class="mb-0">{{ movie.getMiniDescriptionPreview }}</p>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



        {% for category in categories %}
            {% if category.movies|length > 0 %}

                <div class="container-fluid">
                    <div id="trending-data24">
                        <div class="trending-info align-items-center w-100 animated fadeInUp">
                            <p class="trending-text text-uppercase movie-category-title">{{ category.title }}</p>
                            <div class="episodes-contens mt-4">
                                <div class="owl-carousel owl-theme episodes-slider1 list-inline p-0 mb-0 movie-card-slider">

                                    {% for movie in category.movies %}

                                        <div class="e-item movie-card">
                                            <div class="block-image position-relative movie-card-image-container">
                                                <img src="{{ asset('uploads/movies/images/'~movie.image) }}" class=" movie-image">
                                            </div>
                                            <div class="episodes-description text-body mt-2">

                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="movie-actions">

                                                        <div class="hover-buttons">
                                                            <div class="movie-actions-buy">
                                                                {% if movie.showToday() and app.user and app.user.canWatch(movie) %}
                                                                    {% if app.user.hasUsedTicket(movie) == true %}
                                                                        <a href="{{ path("app_show_index", {"movie": movie.id}) }}">
                                                                <span class="btn btn-hover">
                                                                    <i class="fa fa-play mr-1" aria-hidden="true"></i>Žiūrėti Dabar
                                                                </span>
                                                                        </a>
                                                                    {% else %}
                                                                        <form method="POST" id="open-ticket-modal-form">
                                                                            <input type="hidden" value="{{ movie.id }}" class="ticket-movie-data">
                                                                            <span class="btn btn-hover open-ticket-apply-modal" id="open-ticket-apply-modal"
                                                                                  data-toggle="modal" data-target="#exampleModalCenter">
                                                                            <i class="fa fa-play mr-1" aria-hidden="true"></i>Žiūrėti Dabar
                                                                </span>
                                                                        </form>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if app.user is not null and app.user.canWatch(movie) %}
                                                                        <div>
                                                                            <button type="button" id="watch-later" class=" btn btn-outline-primary child-cell flex-center">
                                                                                Rodys {{ movie.date|date('Y-m-d') }}
                                                                            </button>
                                                                        </div>
                                                                        <span>Turite Bilietą</span>
                                                                    {% else %}
                                                                        <form method="POST" class="ticket-form pay-for-ticket">
                                                                            <input type="hidden" name="movie-id" value="{{ movie.id }}" class="ticket-movie-data">
                                                                            <button type="submit" id="ticket-submit" class=" btn btn-outline-primary child-cell flex-center">
                                                                                Pirkti Bilietą
                                                                            </button>
                                                                        </form>
                                                                        <span>Kaina: {{ movie.getActiveFormattedPriceByUser(app.user) }} &euro;</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>

                                                        <div class="movie-preview">
                                                            {% if movie.previewUrl %}
                                                                {% include('app/movie/movie-preview.html.twig') %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <h4>{{ movie.title }}</h4>
                                                    <span class="text-primary">{{ movie.duration }}</span>
                                                </div>
                                                <div class="movie-time d-flex align-items-center my-2 movie-date">
                                                    {% if movie.showToday() and app.user and app.user.canWatch(movie) %}
                                                        <span  style="margin-right:5px">Filmą rodo: </span>
                                                        <div class="badge badge-secondary p-1 mr-2"><span>šiandien</span></div>
                                                    {% else %}
                                                        <span  style="margin-right:5px">Filmą rodys: </span>
                                                        <div class="badge badge-secondary p-1 mr-2"><span>{{ movie.date|date('Y-m-d') }}</span></div>
                                                    {% endif %}
                                                </div>
                                                <div class="movie-time d-flex align-items-center my-2 movie-date">
                                                    <span style="margin-right:5px">Metai: {{ movie.year }}</span>
                                                </div>
                                                <div class="movie-time d-flex align-items-center my-2 movie-date">
                                                    <span style="margin-right:5px">Šalis: {{ movie.country }}</span>
                                                </div>
                                                <div class="movie-time d-flex align-items-center my-2 movie-date">
                                                    <span style="margin-right:5px">Režisierius: {{ movie.director }}</span>
                                                </div>
                                                <p class="mb-0">{{ movie.getMiniDescriptionPreview }}</p>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        {% endif %}
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app/ticket-payment.js') }}"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            nav: true,
            loop: false,
            margin: 30,
            items : 1,
            responsive : {
                480 : { items : 1  },
                768 : { items : 2  },
                1024 : { items : 3 },
                1500: {items : 4},
            },
        });
    </script>
{% endblock %}
