{% extends 'admin/base.html.twig' %}

{% block body %}
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">

                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Pridėti Filmą</h4>
                            </div>
                        </div>

                        <div class="iq-card-body">
                            {{ form_start(form) }}
                            <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="movie-date">Pavadinimas</label>
                                        {{ form_widget(form.title) }}
                                        {{ form_errors(form.title) }}
                                    </div>
                                    <div class="col-12 form_gallery form-group">
                                        {{ form_label(form.imageFile) }}
                                        {{ form_widget(form.imageFile) }}
                                        {{ form_errors(form.imageFile) }}
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="movie-date">Kategorija</label>
                                        {{ form_widget(form.category) }}
                                        {{ form_errors(form.category) }}
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="movie-date">Bilieto Kaina</label>
                                        {{ form_widget(form.price) }}
                                        {{ form_errors(form.price) }}
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="movie-date">Pasirinkite Transliavimo Datą</label>
                                        {{ form_widget(form.date) }}
                                        {{ form_errors(form.date) }}
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="movie-date">Aprašymas</label>
                                        {{ form_widget(form.description) }}
                                        {{ form_errors(form.description) }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5" style="height: 350px">
                                <div class="d-block position-relative" style="height: 350px">
                                    {{ form_errors(form.movieFile) }}
                                    <div class="form_video-upload">
                                        {{ form_widget(form.movieFile) }}
                                        <p>Įkelti Filmą</p>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-12 form-group ">
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $("#form-movie").on("submit", function(){
            console.log("SUBMITED")
        })
    </script>

{% endblock %}

