{% extends 'admin/base.html.twig' %}

{% block body %}

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Redaguoti Filmą</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">

                                            <div class="col-12 form-group">
                                                {{ form_label(form.title) }}
                                                {{ form_widget(form.title) }}
                                                {{ form_errors(form.title) }}
                                            </div>

                                            <div class="col-9 form_gallery form-group">
                                                {{ form_label(form.imageFile) }}
                                                {{ form_widget(form.imageFile) }}
                                                {{ form_errors(form.imageFile) }}
                                            </div>

                                            <div class="col-3" style="min-height: 50px; max-height: 100px; width: auto; overflow: hidden">
                                                <img src="{{ asset('uploads/movies/images/'~movie.image) }}"
                                                     style="max-height: 80px; width: auto" id="movie-edit-img">
                                            </div>

                                            <div class="col-12 form-group">
                                                {{ form_label(form.category) }}
                                                {{ form_widget(form.category) }}
                                                {{ form_errors(form.category) }}
                                            </div>
                                            <div class="col-12 form-group">
                                                {{ form_label(form.price) }}
                                                {{ form_widget(form.price, {'value': movie.getActiveFormattedRegularPrice()}) }}
                                                {{ form_errors(form.price) }}
                                            </div>
                                            <div class="col-12 form-group">
                                                {{ form_label(form.clubPrice) }}
                                                {{ form_widget(form.clubPrice, {'value': movie.getActiveFormattedClubPrice()}) }}
                                                {{ form_errors(form.clubPrice) }}
                                            </div>
                                            <div class="col-12 form-group">
                                                {{ form_label(form.date) }}
                                                {{ form_widget(form.date) }}
                                                {{ form_errors(form.date) }}
                                            </div>
                                            <div class="col-12 form-group">
                                                {{ form_label(form.description) }}
                                                {{ form_widget(form.description) }}
                                                {{ form_errors(form.description) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-5">
                                        <span>Filmo Failo Pavadinimas: </span>
                                        <label for="edit-movie-file" id="edit-movie-filename">{{ movie.movie }}</label>
                                        <div class="d-block position-relative">
                                            {{ form_errors(form.movieFile) }}
                                            <div class="form_video-upload">
                                                {{ form_widget(form.movieFile) }}
                                                <p>Įkelti Filmą</p>
                                            </div>
                                        </div>

                                    </div>


                                <div style="display: flex;flex-direction: column; " class="col-lg-6">

                                    <div style="margin-bottom: 20px;">
                                        {{ form_label(form.previewUrl) }}
                                        {{ form_widget(form.previewUrl) }}
                                        {{ form_errors(form.previewUrl) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(form.submit) }}
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block customjs %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#movie-edit-img')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#edit-movie-file').change(function() {
            var file = $('#edit-movie-file')[0].files[0].name;
            $('#edit-movie-filename').text(file);
        });

    </script>
{% endblock %}
