<!-- Sidebar  -->
<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="{{ path('home_index') }}" class="header-logo">
            <img src="{{ asset('admin/assets/images/logo.png') }}" class="img-fluid rounded-normal" alt="">
            <div class="logo-title">
                <span class="text-primary text-uppercase">Kino Klubas </span>
            </div>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li><a href="{{ path('admin_dashboard') }}" class="iq-waves-effect">
                        <i class="las la-home iq-arrow-left"></i><span>Admin</span></a>
                </li>
                <li>
                    <a href="{{ path('admin_user_club_list_approve') }}" class="iq-waves-effect"><i class="las la-user-friends"></i><span>Klubo Narių Patvirtinimas</span></a>
                </li>
                <li>
                    <a href="{{ path('admin_subscription_list') }}" class="iq-waves-effect"><i class="fa fa-star-half-o" aria-hidden="true"></i><span>Prenumeratos</span></a>
                </li>
                <li>
                    <a href="{{ path('admin_user_list') }}" class="iq-waves-effect"><i class="las la-user-friends"></i><span>Visi Vartotojai</span></a>
                </li>
                <li>
                    <a href="#category" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-list-ul"></i><span>Kategorija</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="category" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="{{ path('admin_category_add') }}"><i class="las la-user-plus"></i>Pridėti Kategoriją</a></li>
                        <li><a href="{{ path('admin_category_list') }}"><i class="las la-eye"></i>Kategorijų Sąrašas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#movie" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-film"></i><span>Filmai</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="movie" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="{{ path('admin_movie_add') }}"><i class="las la-user-plus"></i>Pridėti Filmą</a></li>
                        <li><a href="{{ path('admin_movie_list') }}"><i class="las la-eye"></i>Filmų Sąrašas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#payments" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-price-tag-line"></i><span>Mokėjimai</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="payments" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="{{ path('admin_paysera_ticket_list') }}"><i class="las la-user-plus"></i>Filmų mokėjimai</a></li>
                        <li><a href="{{ path('admin_paysera_subscription_list') }}"><i class="las la-eye"></i>Prenumeratų mokėjimai</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>
