{% extends 'admin/base.html.twig' %}

{% block body %}

    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Paysera Klubo Narystės Mokėjimų Sąrašas</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-view">
                                <table class="data-tables table movie_table " style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Prenumeratos ID</th>
                                        <th>Suma</th>
                                        <th>Vartotojas</th>
                                        <th>Statusas</th>
                                        <th>Sukūrimo Data</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in payseraPayments %}
                                        <tr>
                                            <td>
                                                {% if payment.user.subscription %}
                                                    <p>{{ payment.user.subscription.id }}</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <p>{{ payment.price.getFormattedAmount() }}</p>
                                            </td>
                                            <td>
                                                {% if payment.user %}
                                                    <p>{{ payment.user.email }}</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <p>{{ payment.status }}</p>
                                            </td>
                                            <td>
                                                <p>{{ payment.createdAt|date('Y-m-d') }}</p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
